#form{
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}
#form label{
    display: block;
    margin-top: 10px;
}
#form input,form textarea,form button{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
